<%= render 'header' %>
<div class= "container">
  <h4>Delete Contact</h4>
  <div class ="alert alert-warning">
      Are you sure you want to delete this contact? This action cannot be undone.
  </div>
  <%= link_to "Delete Contact", main_path(@contact), method: :delete, class: 'btn btn-danger' %>
  <%= link_to "Cancel", main_path(@contact), class: 'btn btn-default' %>
</div>
